<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <textarea class="simple-1" data-ng-model="$ctrl.someEffCount" name="name" rows="6" cols="40"></textarea>
            <character-counter count-up="$ctrl.someEffCount"></character-counter>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <textarea class="simple-1" data-ng-model="$ctrl.someEffCount2" name="name" rows="6" cols="40"></textarea>
            <character-counter count-down="$ctrl.someEffCount2" max-length="200"></character-counter>
        </div>
    </div>
</div>
