<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Angular Character Counter</h1>
            </div>
        </div>
    </div>
</header>
<section class="container">
    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea class="form-control" data-ng-model="$ctrl.characterCountUp" name="name" rows="6" cols="40"></textarea>
                    <character-counter count-up="$ctrl.characterCountUp"></character-counter>
                </div>
                <div class="form-group">
                    <textarea class="form-control" data-ng-model="$ctrl.characterCountDown" name="name" rows="6" cols="40"></textarea>
                    <character-counter count-down="$ctrl.characterCountDown" max-length="200"></character-counter>
                </div>
            </div>
        </div>
    </form>
</section>
